body {
    background-color: #f1f1f1;
}

#root {
    margin: auto;
    max-width: 400px;
}

.button_calculator {
    height: 50px;
    width: 100%;
}

.buttons-body {
    margin-bottom: 10px !important;
}

.ui.grid > .grey.column, .ui.grid > .grey.row, .ui.grid > .row > .grey.column {
    background-color: #cecece !important;
}